:root {
    /* variables */
    --loading-color: #9a9a9a;
    --loading-color-alt: hsl(0, 0%, 75%);
    --loading-text-color: hsl(231, 12%, 98%);
}

.button__loader {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    position: relative;
    padding: 21px 13px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 1.25rem 2.5rem;
    background-color: var(--loading-color);
    color: var(--loading-text-color);
    font-size: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 18px 40px hsla(231, 56%, 56%, .3);
    overflow: hidden;
    cursor: wait;
}

.button__loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: repeating-linear-gradient(60deg, 
                transparent, 
                transparent 0.75rem, 
                var(--loading-color-alt) 0.75rem, 
                var(--loading-color-alt) 1.5rem);
    animation: load 1s infinite linear;
}

.button__text {
    position: relative;
}
/* Loading button animation */
@keyframes load {
    0% {    
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1.75rem);
    }
}